azure-core>=1.29.6
azure-identity>=1.15.0
click>=8.1.7
colorama>=0.4.6
dash>=2.18.0
dash-bootstrap-components>=1.6.0
dash-core-components>=2.0.0
dash-html-components>=2.0.0
dash-table>=5.0.0
dash_ag_grid>=31.2.0
pandas>=2.2.2
psutil>=6.0.0
requests>=2.32.3
rich>=13.7.1
